@import url('https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap');

.font{
    font-family: "Kalnia Glaze", serif;
    font-weight: bold;
    font-size: larger;
}
.background {
    position: relative;
    height: 90vh;
    background: url('../Assets/Logo.jpg') no-repeat center center fixed, linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typing-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#typing {
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 3px 3px 2px black;
    margin-top: 9rem;
}

.proje {
    padding: 5rem;
    background-image: url('../Assets/programlama.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    min-height: 100vh;
}

.proje h2,
.proje h3,
.proje p {
    color: white;
}

.proje p {
    text-shadow: 2px 2px 1px purple;
}

#footer{
    background-color: gray;
}